.botao {
    color:white;
    background-color: black;
    font-size: 30px;
    margin: 1% 0 0 46.5%;
    border-radius: 10px;
}

.container{
    text-align: center;
    margin-top: 15%;
    font-size: 30px;
    background-color: black;
    color:white;
    padding: 15px 0 30px 0;
    width: 40%;
    margin-left: 30%;
    border-radius: 10px;
}